*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
.gitignore
app/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
